{% extends 'base_back.html.twig' %}

{% block body %}
    <div class="w-full">
        {% include 'partials/_patients_table.html.twig' %}

        <div class="absolute bottom-10 right-10">
            <img class="hidden lg:block w-40 " src="{{ asset('images/calmedica-logo.png') }}" alt="Calmedica Logo">
            <p class="text-[8px] text-gray-600">Mettre la e-santé à la portée de tous</p>
        </div>
    </div>
{% endblock %}
