{% block body %}
<h1>Teleconsultation Started</h1>
<p>
    Click the link to join the teleconsultation:
    <a href="{{ link }}">{{ link }}</a>
</p>
<p>
    Use this code to access the conference: <strong>{{ code }}</strong>
</p>
{% endblock %}
