{% extends 'base_front.html.twig' %} {% block body %}
<div class="max-w-xl mx-auto p-6 bg-white rounded-lg shadow-lg mt-10">
    <h1 class="text-2xl font-bold mb-4 text-center">
        Téléconsultation Commencée
    </h1>
    <p class="mb-4 text-center">
        Cliquez sur le lien pour rejoindre la téléconsultation:
        <a href="{{ link }}" class="text-blue-500 hover:underline break-all">{{
            link
        }}</a>
    </p>
    <p class="text-center">
        Utilisez ce code pour accéder à la conférence:
        <strong class="text-lg">{{ code }}</strong>
    </p>
</div>
{% endblock %}
