{% extends 'base_front.html.twig' %}

{% block title %} Échange vidéo {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-6 text-lg">RDV visio entre {{ medicine }} et {{ patient }}</h1>
        <div id="root"></div>
    </div>
{% endblock %}
